<div class="vehicle-details-popup">
    <div class="vehicle-header">
      <h2>Your Car</h2> 

    </div>
    
    <div class="vehicle-image-container">
        <img src="../../../assets/car.png.png" alt="Car Image" class="vehicle-image" />
      </div>
    <form>
        <div class="form-group">
          <label for="registrationNumber">Registration number</label>
          <input type="text" id="registrationNumber" name="registrationNumber" placeholder="MH01Y77564" />
        </div>
      
        <div class="form-group">
          <label for="cityRTO">City of registration - RTO</label>
          <input type="text" id="cityRTO" name="cityRTO" placeholder="Mumbai - Maharashtra" />
        </div>
      
        <div class="form-group">
          <label for="vehicleModel">Select car make & model</label>
          <input type="text" id="vehicleModel" name="vehicleModel" placeholder="BMW - 530i M SPORTS (1998CC)" />
        </div>
      
        <div class="form-group">
          <label for="registrationDate">Vehicle registration date</label>
          <input type="text" id="registrationDate" name="registrationDate" placeholder="01 / 09 / 2023" />
        </div>
      
        <div class="form-group">
          <label for="manufacturingDate">Manufacturing month/year</label>
          <input type="text" id="manufacturingDate" name="manufacturingDate" placeholder="Jan / 2023" />
        </div>
      
        <div class="form-group">
          <label for="exShowroomPrice">Ex-showroom price</label>
          <input type="text" id="exShowroomPrice" name="exShowroomPrice" placeholder="₹50,35,344" />
        </div>
      
        <button type="submit" class="proceed-btn">Proceed</button>
      </form>
      
  </div>
  