<div class="header-panel">
    <div class="policy-title">
        <span class="policy-type">
            Policy type: <b>Comprehensive Policy</b>
        </span>
        <a class="policy-type-link">Want Own damage policy?</a>
    </div>
    <div class="policy-content">
        <div class="content od">
            <strong>Own Damage: </strong>Covers expenses related to the damage or destruction of your vehicle from an accident or other collision
        </div>
        <div class="content icon">+</div>
        <div class="content third">
            <strong>Third Party: </strong>Covers expenses related to injury, death or property damage of others when you're at fault
        </div>
        <a class="content link">Know more</a>
    </div>
</div>