.fw-motor-page{
    padding: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.fw-motor-page .box-container{
    border: 1px solid rgba(253, 250, 250, 0);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.fw-motor-page .box-container .leftSide-content{
    width: 70%;
    height: inherit;
    padding: 0 20px;
    /* background-color: aliceblue; */
}
.fw-motor-page .box-container .rightSide-content{
    width: 30%;
    padding: 20px;
    height: inherit;
    background-color: rgb(255, 204, 138);
}