<div class="cibil-banner">
  <div class="discount-section">
    <img
      src="../../../assets/image (7).png"
      alt="Discount Icon"
      class="discount-icon"
    />
    <div class="discount-content">
      <h2 class="credit-score-title">Good credit score?</h2>
      <p class="discount-text">Get an extra discount on your premium.</p>
    </div>
    <a href="#" class="apply-now">Apply now</a>
  </div>
</div>
<div class="explore-discounts">
    <img
      src="../../../assets/image (6).png"
      alt="Discount Tag"
      class="explore-icon"
    />
    <a href="#" class="explore-link">Explore more discounts</a>
  </div>


